/* BEM naming: component - button */
.c-video
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: -1

.c-image
  // position: fixed
  // top: 0
  // left: 0
  // width: 100%
  // height: 100%
  // -webkit-background-size: cover
  // -moz-background-size: cover
  // -o-background-size: cover
  // background-size: cover
  // background-image: url("../images/landing.jpg")
  // z-index: -1

.c-landing
  &__form
    background-color: white
    padding: 20px !important
    margin-top: 50px